@font-face {
    /* здесь прописываем то как вы будете обращаться к шрифту в стилях */
    /* кстати, имя может быть абсолютно любым в рамках вашего приложения */
    font-family: "Montserrat";
    
    /* указываем положение начертания в вашем проекте */
    src: url(../fonts/Montserrat-ThinItalic.ttf);
    
    /* здесь говорим какой жирности подключеный шрифт от 100 до 900*/
    font-weight: 100;
    /* Thin - 100 */
    /* Light - 300 */
    /* Medium - 500 */
    /* SemiBold - 600 */
    /* Bold - 700 */
    /* ExtraBold - 800 */
    /* Black - 900 */

    /* а тут прописываем тип шрифта чаще всего это italic(курсив) и normal(не курсив)*/
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Light.ttf);
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-ExtraBoldItalic.ttf);
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-weight: 900;
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Black.ttf);
    font-style: normal;
}

@font-face {
    font-family: "Corm";
    src: url(../fonts/CormorantInfant-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Corm";
    src: url(../fonts/CormorantInfant-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}


@font-face {
    font-family: "Corm";
    src: url(../fonts/CormorantInfant-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Corm";
    src: url(../fonts/CormorantInfant-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: "Corm";
    src: url(../fonts/CormorantInfant-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Corm";
    src: url(../fonts/CormorantInfant-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}


@font-face {
    font-family: "Corm";
    src: url(../fonts/CormorantInfant-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Corm";
    src: url(../fonts/CormorantInfant-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}